[include]
    path = .gitconfig.local

[user]
    name = HAMANO Tsukasa
#    email = # move to .zshenv.local

[color]
    ui = auto

[core]
    pager = cat
    editor = vi

[alias]
    st = status --short --branch
    ci = commit -a
    co = checkout
    br = branch
    sl = stash list
    ls = log --stat
    praise = blame 

[diff]
    color = auto
    rename = copy 

[pager]
    color = true

[status]
    color = auto

[push]
	default = current
