[include]
    path = .gitconfig.local

[user]
    name = HAMANO Tsukasa
#    email = # move to .zshenv.local

[color]
    ui = auto

[core]
    pager = cat
    editor = vi

[alias]
    ci = commit -a
    co = checkout
    st = status
    praise = blame 

[diff]
    color = auto
    rename = copy 

[pager]
    color = true

[status]
    color = auto

#[push]
#	default = simple
