! .Xresources
! % xrdb ~/.Xresources

#include ".Xresources.local"

!! custom color pallete
#define C_red           #a54242
#define C_brightred     #cc6666

#define C_blue          #5f819d
#define C_brightblue    #81a2be

#define C_cyan          #5e8f87
#define C_brightcyan    #8abeb7

!! tango color pallete
#define T_black	        #2e3436
#define T_red           #a40000
#define T_green	        #4e9a06
#define T_yellow        #c4a000
#define T_blue          #204a87
#define T_magenta       #85678f
#define T_cyan          C_cyan
#define T_white         #babdb9
#define T_brightblack   #888a85
#define T_brightred     #ef2929
#define T_brightgreen   #8ae234
#define T_brightyellow  #fce94f
#define T_brightblue    #729fcf
#define T_brightmagenta #b294bb
#define T_brightcyan    C_brightcyan
#define T_brightwhite   #eeeeec

!! solarized color theme
#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

#define S_black         S_base03
#define S_brightblack   S_base02
#define S_white         S_base2
#define S_brightwhite   S_base3

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!! gruvbox color theme
#define G_black		#282828
#define G_red		#cc241d
#define G_green 	#98971a
#define G_yellow 	#d79921
#define G_blue 		#458588
#define G_magenta 	#b16286
#define G_cyan 		#689d6a
#define G_white 	#a89984
#define G_hlblack	#928374
#define G_hlred		#fb4934
#define G_hlgreen 	#b8bb26
#define G_hlyellow 	#fabd2f
#define G_hlblue 	#83a598
#define G_hlmagenta	#d3869b
#define G_hlcyan 	#8ec07c
#define G_hlwhite 	#ebdbb2

!! system color
*color0:     G_black
*color1:     G_red
*color2:     G_green
*color3:     G_yellow
*color4:     G_blue
*color5:     G_magenta
*color6:     G_cyan
*color7:     G_white
*color8:     G_hlblack
*color9:     G_hlred
*color10:    G_hlgreen
*color11:    G_hlyellow
*color12:    G_hlblue
*color13:    G_hlmagenta
*color14:    G_hlcyan
*color15:    G_hlwhite

!!xterm
XTerm*background: G_black
XTerm*foreground: G_hlwhite
XTerm*cursorColor:				G_green
XTerm*pointerColorBackground:	G_white
XTerm*pointerColor:	G_hlwhite
XTerm*saveLines: 10000
XTerm*faceName: Cica
XTerm*faceSize: 20
!XTerm*faceNameDoublesize: Ricty
!XTerm*fontDoublesize: true
!XTerm*utf8: 1
!XTerm*locale: true
!XTerm*cjkWidth: true
!XTerm*forcePackedFont: false
!XTerm*eightBitInput: false
!XTerm*eightBitOutput: true
!XTerm*metaSendsEscape: true

!!urxvt
URxvt.background: G_black
URxvt.foreground: G_hlwhite
URxvt.fading:     20
URxvt.fadeColor:               G_black
URxvt.cursorColor:             G_green
URxvt.pointerColorBackground:  S_base01
URxvt.pointerColorForeground:  S_base1

URxvt.saveLines: 10000
URxvt.imLocale: ja_JP.UTF-8
URxvt.termName: rxvt
URxvt.geometry: 80x25
URxvt.tripleclick-words: true
URxvt.letterSpace: 1
URxvt.lineSpace: 1
URxvt.scrollBar_right: true
URxvt.perl-lib: .config/urxvt/perl/
URxvt.perl-ext: default,-confirm-paste,matcher,xim-onthespot,font-size,osc52
URxvt.resize-font.step: 2
URxvt.keysym.C-apostrophe: font-size:increase
URxvt.keysym.C-underscore: font-size:decrease
URxvt.keysym.C-backslash:  font-size:reset

!URxvt.keysym.M-u: perl:url-select:select_next
!URxvt.url-select.underline: true
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 3
URxvt.matcher.rend.0: Uline Bold fg6
URxvt.keysym.F1: perl:matcher:select
URxvt.keysym.F2: perl:matcher:list
URxvt.keysym.F3: perl:matcher:last
URxvt.tabbed.tabbar-fg: 7
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 0
URxvt.tabbed.tab-bg: 6
URxvt.inputMethod: fcitx
URxvt.preeditType: OnTheSpot
URxvt.iso14755: false

! see /usr/share/fonts/X11/misc/fonts.alias
URxvt.font: \
 xft:UDEV Gothic:style=Regular:size=16, \
 xft:UDEV Gothic NF:style=Regular:size=16, \
 xft:Noto Emoji:style=Regular:size=16, \
 xft:Symbola:style=Regular:size=12, \
 r16, kanji16
URxvt.boldFont:	\
 xft:UDEV Gothic:style=Bold:size=16, \
 xft:UDEV Gothic NF:style=Bold:size=16, \
 xft:Noto Emoji:style=Regular:size=16, \
 xft:Symbola:style=Regular:size=12, \
 r16, kanji16
URxvt.italicFont: \
 xft:UDEV Gothic:style=Italic:size=16, \
 xft:UDEV Gothic NF:style=Italic:size=16, \
 xft:Noto Emoji:style=Regular:size=16, \
 xft:Symbola:style=Regular:size=12, \
 r16, kanji16
URxvt.boldItalicFont: \
 xft:UDEV Gothic:style=Bold Italic:size=16, \
 xft:UDEV Gothic NF:style=Bold Italic:size=16, \
 xft:Noto Emoji:style=Regular:size=16, \
 xft:Symbola:style=Bold:size=12, \
 r16, kanji16

!!emacs
!!emacs.borderWidth: 20
!emacs.fontset-0: -shinonome-gothic-medium-r-normal--12-*
!emacs.font:      -shinonome-gothic-medium-r-normal--12-*

!!xdvi
xdvi.shrinkFactor: 0
xdvi.noFileArgUseHistory: false

!!tgif
Tgif.InitialFont: Ryumin
Tgif.Lang:        ja_JP.UTF-8
Tgif.DoubleByteInputMethod: xim
Tgif.MenuFontSet: a14,k14,r14
Tgif.MsgFontSet: a14,k14,r14
Tgif.BoldMsgFontSet: a14,k14,r14
Tgif.SquareDoubleByteFonts: \n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,Ryumin-Light-EUC-H\n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,Ryumin-Light-EUC-H\n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,Ryumin-Light-EUC-H\n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,Ryumin-Light-EUC-H\n\
 \n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,GothicBBB-Medium-EUC-H\n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,GothicBBB-Medium-EUC-H\n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,GothicBBB-Medium-EUC-H\n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,GothicBBB-Medium-EUC-H\n\
 \n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,V,Ryumin-Light-EUC-V\n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,V,Ryumin-Light-EUC-V\n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,V,Ryumin-Light-EUC-V\n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,V,Ryumin-Light-EUC-V\n\
 \n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,V,GothicBBB-Medium-EUC-V\n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,V,GothicBBB-Medium-EUC-V\n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,V,GothicBBB-Medium-EUC-V\n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,V,GothicBBB-Medium-EUC-V

