!!krxvt
krxvt*font:             -shinonome-gothic-medium-r-normal--12-*
krxvt*mfont:            k12g
krxvt*background:       ivory
krxvt*foreground:       black
krxvt*cursorColor:      blue
krxvt*saveLines:        10000

!!xterm
xterm*background:       ivory
xterm*foreground:       black
xterm*cursorColor:      blue
xterm*saveLines:        10000
xterm*scrollbar:        left
!!kterm
kterm*background:       ivory
kterm*foreground:       black
kterm*cursorColor:      blue
kterm*saveLines:        10000
kterm*vt100*ScrollBar:  true

!!urxvt
urxvt*font:             r12, k12g
urxvt*boldFont:         r12b, k12b
urxvt*italicFont:       r12i, k12i
urxvt*boldItalicFont:   r12bi, k12bi
urxvt*imFont:           r12b, k12b
urxvt*background:       ivory
urxvt*foreground:       black
urxvt*cursorColor:      blue
urxvt*saveLines:        10000
urxvt*tripleclick-words:true
urxvt*imLocale:         ja_JP.EUC-JP
urxvt*termName:         rxvt

!!emacs
emacs.fontset-0: -shinonome-gothic-medium-r-normal--12-*
emacs.font:      -shinonome-gothic-medium-r-normal--12-*
emacs.borderWidth: 20

!!tgif
Tgif.InitialFont: Ryumin
Tgif.Lang:        ja_JP.UTF-8
Tgif.DoubleByteInputMethod: xim
Tgif.MenuFontSet: a14,k14,r14
Tgif.MsgFontSet: a14,k14,r14
Tgif.BoldMsgFontSet: a14,k14,r14
Tgif.SquareDoubleByteFonts: \n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,Ryumin-Light-EUC-H\n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,Ryumin-Light-EUC-H\n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,Ryumin-Light-EUC-H\n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,Ryumin-Light-EUC-H\n\
 \n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,GothicBBB-Medium-EUC-H\n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,GothicBBB-Medium-EUC-H\n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,GothicBBB-Medium-EUC-H\n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,GothicBBB-Medium-EUC-H\n\
 \n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,V,Ryumin-Light-EUC-V\n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,V,Ryumin-Light-EUC-V\n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,V,Ryumin-Light-EUC-V\n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,V,Ryumin-Light-EUC-V\n\
 \n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,V,GothicBBB-Medium-EUC-V\n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,V,GothicBBB-Medium-EUC-V\n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,V,GothicBBB-Medium-EUC-V\n\
 -misc-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,V,GothicBBB-Medium-EUC-V

