#
SUBSYSTEM=="usb", ATTR{idVendor}=="0fce", ATTR{idProduct}=="612e", GROUP="plugdev", MODE="0660", SYMLINK+="android"
# SO-02G
SUBSYSTEM=="usb", ATTR{idVendor}=="0fce", ATTR{idProduct}=="51bb", GROUP="plugdev", MODE="0660", SYMLINK+="android"
# Pixel3
SUBSYSTEM=="usb", ATTR{idVendor}=="18d1", ATTR{idProduct}=="4ee7", GROUP="plugdev", MODE="0660", SYMLINK+="android"
